.content-box {
    padding: 55px 230px;
    position: relative;

    @media(max-width: 1200px) {
        padding: 55px 110px;
    }

    @media(max-width: 800px) {
        padding: 16px 80px;
    }

        @media(max-width: 750px) {
        padding: 7px 80px;
    }
    @media(max-width: 550px) {
        padding: 0px 30px;
    }
            @media(max-width: 800px) {
       font-size: 13px;
    }

    p {
        padding: 16px 0;
        line-height: 24px;
    }

    &__img {
        width: 80%;
        margin: 20px auto;
        position: relative;
        
        @media(max-width: 1200px) {
            width: 100%;
        }
        
        @media(max-width: 800px) {
            margin: 0;
        }
        
        &:last-child {
            @media(max-width: 800px) {
                margin-bottom: 20px;
            }
        }

        img {
            height: 100%;
            width: 100%;
            border-top: solid black 3px;
            border-bottom: solid black 3px;


        }

        p {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
            font-style: italic;
        }
    }

}

.opacity {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s;
}
.slideIn {
    opacity: 1;
    transform: translateY(0);
}


.no-border {
    border: none !important;
}
