.content-box {
    padding: 55px 230px;
    position: relative;

    p {
        padding: 16px 0;
        line-height: 24px;
    }

    &__img {
        width: 820px;
        height: 415px;
        margin: 20px auto;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            border-top: solid black 3px;
            border-bottom: solid black 3px;

            
        }

        p {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
            font-style: italic;
        }
    }

}
