* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    //font-family: 'Montserrat', sans-serif;
    margin: auto;
}
body {
    overflow-x: hidden;
}

.wrapper {
    padding: 0 230px;
}
